# DataFrame Operations

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

In [1]:
## To display notebook cell with horizontal scroll bar
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; }</style>"))

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

In [3]:
df_WMS  = spark.read.csv("walmart_stock.csv"
                          ,inferSchema=True
                          , header=True)

#### Start a simple Spark Session

In [4]:
spark = (SparkSession
.builder
.appName("my_datafram")
.getOrCreate())

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [5]:
df_WMS  = spark.read.csv("walmart_stock.csv"
                          ,inferSchema=True
                          , header=True)

#### What are the column names?

In [6]:
print(df_WMS.columns)

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [7]:
df_WMS.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 salary.

In [8]:
df_WMS.show(5,False)

+----------+------------------+---------+---------+------------------+--------+------------------+
|Date      |Open              |High     |Low      |Close             |Volume  |Adj Close         |
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|59.970001         |61.060001|59.869999|60.330002         |12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996|9593300 |52.078475         |
|2012-01-05|59.349998         |59.619999|58.369999|59.419998         |12768200|51.825539         |
|2012-01-06|59.419998         |59.450001|58.869999|59.0              |8069400 |51.45922          |
|2012-01-09|59.029999         |59.549999|58.919998|59.18             |6679300 |51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

#### Use describe() to learn about the DataFrame.

In [9]:
df_WMS.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. 

If you get stuck on this, don't worry, just view the solutions.

In [77]:
df_WMS.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

In [16]:
df = df_WMS.withColumn("Open", df_WMS["Open"].cast("float"))

In [17]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Format Numbers").getOrCreate()

df = spark.read.csv("walmart_stock.csv", inferSchema=True, header=True)

df = df.withColumn("Open", df["Open"].cast("float"))
df = df.withColumn("High", df["High"].cast("float"))
df = df.withColumn("Low", df["Low"].cast("float"))
df = df.withColumn("Close", df["Close"].cast("float"))
df = df.withColumn("Volume", df["Volume"].cast("float"))
df = df.withColumn("Adj Close", df["Adj Close"].cast("float"))

from pyspark.sql.functions import format_number

result = df.describe()

result.select(result["summary"],
              format_number(result["Open"].cast("float"), 2).alias("Open"),
              format_number(result["High"].cast("float"), 2).alias("High"),
              format_number(result["Low"].cast("float"), 2).alias("Low"),
              format_number(result["Close"].cast("float"), 2).alias("Close"),
              format_number(result["Volume"].cast("float"), 0).alias("Volume"),
              format_number(result["Adj Close"].cast("float"), 2).alias("Adj Close")
             ).show()

+-------+--------+--------+--------+--------+----------+---------+
|summary|    Open|    High|     Low|   Close|    Volume|Adj Close|
+-------+--------+--------+--------+--------+----------+---------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258| 1,258.00|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,094|    67.24|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,781|     6.72|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900|    50.36|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,096|    84.91|
+-------+--------+--------+--------+--------+----------+---------+

In [ ]:
# Notice all data types are Strings! 
df.describe().printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [ ]:
from pyspark.sql.functions import format_number

In [ ]:
result = df.describe()
result.select(result['summary'],
              format_number(result['Open'].cast('float'),2).alias('Open'),
              format_number(result['High'].cast('float'),2).alias('High'),
              format_number(result['Low'].cast('float'),2).alias('Low'),
              format_number(result['Close'].cast('float'),2).alias('Close'),
              result['Volume'].cast('int').alias('Volume')
             ).show()

+-------+--------+--------+--------+--------+--------+
|summary|    Open|    High|     Low|   Close|  Volume|
+-------+--------+--------+--------+--------+--------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|    1258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8222093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4519781|
|    min|   56.39|   57.06|   56.30|   56.42| 2094900|
|    max|   90.80|   90.97|   89.25|   90.47|80898100|
+-------+--------+--------+--------+--------+--------+

#### ################################################################## End of Bonus Question

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [10]:
df_WMS_hv = spark.read.csv("walmart_stock.csv", header=True, inferSchema=True)
df_WMS_hv = df_WMS_hv.withColumn("HV Ratio", col("High") / col("Volume"))
df_WMS_hv.show(10)

+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|            HV Ratio|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|4.669412994783916E-6|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|7.367338463826307E-6|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|8.915604778943901E-6|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|8.644477436914568E-6|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|9.351828421515645E-6|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994| 8.29141562102703E-6|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|7.712212102001476E-6|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|7.071764823529412E-6|
+----------+------------------+------------------+------------------+------------------+--------+------------------+--------------------+
only showing top 10 rows

In [11]:
df_WMS_hv.select("Hv Ratio").show()

+--------------------+
|            Hv Ratio|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [10]:
df_WMS.select("Date", "High").orderBy(desc("High")).limit(1).show()

+----------+---------+
|      Date|     High|
+----------+---------+
|2015-01-13|90.970001|
+----------+---------+

#### What is the mean of the Close column?

In [15]:
# Calculate the mean of the Close column
df_mean = df_WMS.agg({"Close": "mean"})

# Show the result
df_mean.show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

In [13]:
close_mean = df_WMS.select(mean("Close")).first()[0]
print("the average of close =",close_mean)

the average of close = 72.38844998012726

#### What is the max and min of the Volume column?

In [14]:
volume_max = df_WMS.agg(max("Volume")).first()[0]
volume_min = df_WMS.agg(min("Volume")).first()[0]

# Print the result
print(f"The max value of the Volume column is {volume_max}")
print(f"The min value of the Volume column is {volume_min}")

The max value of the Volume column is 80898100
The min value of the Volume column is 2094900

In [17]:
# Calculate both max and min of Volume column
df_max_min = df_WMS.agg({"Volume": "max", "Volume": "min"})

# Show result
df_max_min.show()

+-----------+
|min(Volume)|
+-----------+
|    2094900|
+-----------+

#### How many days was the Close lower than 60 dollars?

In [20]:
df_close = df_WMS.filter(df_WMS["Close"] < 60)

close_count = df_close.count()

print(close_count)

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [19]:
df_high = df_WMS.filter(df_WMS["High"] > 80)

high_count = df_high.count()

total_count = df_WMS.count()

percentage = (high_count / total_count) * 100


print(percentage)

9.141494435612083

#### What is the Pearson correlation between High and Volume?

In [24]:
df_corr = df_WMS.corr("High", "Volume")
print(df_corr)

-0.3384326061737161

#### What is the max High per year?

In [25]:

df = df_WMS.withColumn("Year", year(df_WMS["Date"]))

df_year_max = df.groupby("Year").max()

df_year_max = df_year_max.select("Year", "max(High)")

df_year_max.show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [40]:
df = df.withColumn("Month", month(df["Date"]))

df_month_mean = df.groupby("Month").mean()

df_month_mean = df_month_mean.select("Month", "avg(Close)")
df_month_mean = df_month_mean.sort("Month")

df_month_mean.show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

## Task 2

### Read "test1" dataset:

In [42]:
df_test1  = spark.read.csv("test1 - test1.csv"
                          ,inferSchema=True
                          , header=True)

### Display Salary of the people less than or equal to 20000

In [54]:
df_salary1 = df_test1.filter(df_test1["salary"] <= 20000)
df_salary1.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [58]:

df_salary2 = df_test1.filter((df_test1["salary"] >= 15000) & (df_test1["salary"] <= 20000))

df_salary2.show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [60]:
df_test3=spark.read.csv("test3.csv",
                        inferSchema=True,
                        header=True)

### Display dataset

In [61]:
df_test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [62]:
df_test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

### Group by "Name" column and using sum function on "salary" column

In [66]:
df_test3.groupBy('Name').agg(sum('Salary'))
df_test3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Group by "Name" column and using avg function on "salary" column

In [69]:
df_test3.groupBy("Name").agg(avg("Salary")).show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "salary" column

In [70]:
df_test3.groupBy("Departments").agg(sum("Salary")).show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

### Group by "Departments" column and using mean function on "salary" column:

In [71]:
df_test3.groupBy("Departments").agg(mean("Salary")).show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

Group by "Departments" column and using count function on "Departments" column:

In [72]:
df_test3.groupBy("Departments").agg(count("Departments")).show()

+------------+------------------+
| Departments|count(Departments)|
+------------+------------------+
|         IOT|                 2|
|    Big Data|                 4|
|Data Science|                 4|
+------------+------------------+

### Apply agg to using sum function get the total of salaries

In [75]:
df_test3.agg(sum("salary")).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+